body {
  background-image: url("images/background-pattern.png");
  background-repeat: repeat;
  margin: 0;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 400px;
}

header {
  margin: 0 auto;
  width: 40%;
  border-top: 40px solid #2D0F0B;
}

.logo {
  width: 100%;
  padding: 2em 0;
}

section {
  text-align: center;
}

.form-wrapper {
    /* Just to center the form on the page */
  margin: 2em auto;
  max-width: 400px;
  padding: 0.5em;
  border: 2px solid #2D0F0B;
  /* background-color: #FAF4E4; */
}

.form-wrapper h3 {
  margin: 0 0 1em 0;
}

form div + div {
  margin-top: 1em;
}

input, 
textarea {
  font: 1em sans-serif;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 5px;
  margin-top: 0.5em;
  border: 4px solid #2D0F0B;
}

textarea {
  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
    It does not work on every browsers */
  resize: vertical;
}

button {
  height: 2em;
  width: 100%;
  background-color: #DF7228;
  border: none;
  font-family: 'Aller', sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.25em;
}

@font-face {
  font-family: 'Aller';
  src: url("fonts/aller_lt.ttf");
}


h1 {
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-size: 2.5em;
}

h2 {
  font-family: 'Aller', sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 2em;
}

h3 {
  font-family: 'Aller', sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 1.25em;
}

address {
  font-family: 'Aller', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
}

p,
a,
label {
  font-family: 'Aller', sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 1em;
}

a:link { 
  color: #DF7228;
  text-decoration: none;
}

a:visited { 
  color: #DF7228;
}

a:hover { 
  color: #9E4D1D; 
}

a:active { 
  color: #9E4D1D; 
} 

button:hover { 
  background-color: #9E4D1D;
  color: #FBF4E3; 
}

button:active { 
  background-color: #9E4D1D;
  color: #FBF4E3; 
} 